<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.javalibrary.jpe.test"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.mediatek.javalibrary.jpe.test"
        android:label="Gemini JPE Test" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
